td { padding: 5px }

.search {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

input {
    border: 1px solid;
    padding: 0.5vw;
}

button { border: 1px solid }

select {border: 1.5px solid}

li { padding-top: 5px }
